.places {
  margin: 0 auto;
  padding: 92px 0;
  display: grid;
  row-gap: 80px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .places {
    /*max-width: 720px;*/
    padding: 86px 24px 0;
    row-gap: 72px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    /*max-width: 100%;*/
    padding: 59px 0 0;
    row-gap: 49px;
  }
}
