.header__lang {
  width: 77px;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

@media screen and (max-width: 720px) {
  .header__lang {
    margin-top: 18px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang {
    margin-top: 6px;
    width: 61px;
  }
}
